
.content-search{
	margin-top: 56px;
}
.content-search img{
	width: 100%;
}
.seaNav:hover{
	color: #F8F8F8;
	text-decoration: underline;
}
.left_nav{
	background-color: #447683;
	border-radius: 10px;
	height: 350px;
}
.left_nav .search_nav .seaNav{
	width: 100%;
	line-height: 60px;
	text-indent: -20px;
}
.left_nav ul li{
	list-style: none;
	text-align: center;
	color: #FFFFFF;
}
.seaNav img{
	width: 30px;
}
.right_top{
	margin: 0 10px;
}
.right_top img{
	width: 45px;
}
.right_top .search_about{
	font-family: "微软雅黑";
	font-size: 18px;
}
.upContent{
	margin-top: 10px;
}
.right_search{
	margin: 20px;
}
.right_search textarea{
	width: 90%;
}
.right_about{
	display: none;
}
.sea_butt{
	width: 120px;
	height: 45px;
	line-height: 45px;
	background-color: teal;
	border: none;
	float: right;
	margin: 10px 180px 0;
	color: #FFFFFF;
}
.deliverSearch{
	display: block;
}
.deliverSearch{
	height: 100px;
}
.deliverResult{
	margin-bottom: 30px;
	margin-left: 20px;
}
.deliverSearch textarea{
	height: 150px;
	font-size:20px; 
}
.deliverNum{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
}
.tableCourier{
	margin-top: 100px;
}
.time,.deliverInfo,.deliverStatus{
	height: 50px;
	line-height: 50px;
	background-color: #E3EBED;
}
.deliverDetailInfo{
	overflow: auto;
	border-bottom: solid 1px #8DACB5;
}
.branchSearch textarea,.dotStation textarea{
	height: 500px;
	margin-bottom: 40px;
}
.countPrice{ 
	overflow: auto;
}
.label_price{
	background-color: #447683;
	height: 40px;
	width: 100px;
	line-height: 40px;
	color: #FFFFFF;	 
	text-align: center;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.area_select{
	height: 40px;
	line-height: 40px;
}
.winput{
	height: 40px;
	line-height: 40px;
}
.inputGroup{
	margin-bottom: 20px;
}
.bt_search{
	float: right;
	margin-right: 180px;
	background-color: #33ACCC;
	width: 100px;
}
.personSet{
	margin-top: 40px;
}

.info_nav{
	background-color: #447683;
	border-radius: 10px;
	border: 2px solid #2C7B90;
}
.information{
	background-color: #F8F8F8;
	margin-left: 30px;
}
.info_nav ul li{
	list-style: none;
	text-align: center;
	color: #000000;
	color: white;
}
.info_nav ul li:hover{
	color: #E6E6E6;
}
.info_leftnav{
	height: 400px;
	margin-top: 20px;
}
.info_leftnav li{
	height: 60px;
	line-height: 60px;
	width: 100%;
}
.titleInfo img{
	width: 50px;
}
.titleInfo{
	font-family: "微软雅黑";
	font-size: 20px;
}
.subscribe{
	margin-left: 20px;
}
.courierSet{
	display:none;
}
.courierSet li{
	list-style:none;
	line-height:30px;
	text-align:center;
	background-color: #33ACCC;
}
