<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 类型别名 -->
<typeAliases>
	<typeAlias type="com.mall.entity.Goods" alias="Goods"/>
</typeAliases>

<environments default="development">
<environment id="development">
   <transactionManager type="JDBC"/>
   <dataSource type="POOLED">	  
  	<property name="url" value="jdbc:mysql://127.0.0.1/mall?characterEncoding=utf-8&amp;allowMultiQueries=true"/>
  	<property name="username" value="root"/>
  	<property name="password" value="123456"/>
  	<property name="driver" value="com.mysql.jdbc.Driver"/>
  </dataSource>
</environment>
</environments>

<!-- 导入dao的映射文件 -->
<mappers>
  <mapper resource="com/mall/mapper/Goods-mapper.xml"/>
</mappers>

</configuration>